
nav{
    display: flex;
     justify-content: space-between;
     color:#f5f5f5;
     background-color: #2b2626;
     padding: 1%;
}
.logo-nav{
   
    width: 30%;
    

}
ul{
    width: 60%;
    display: flex;
 
    justify-content: space-between;
}
button{
    width: 10%;
    
    border-radius: 1.2em;
    padding: 0 1%;
    background-color: #0091ff;
}